h1{
    text-decoration: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: #0D0C22;
    margin: 0px 0px 10px;
    font: 24px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0%;
    padding: 0%; 
    background-color: rgba(red, green, blue, alpha);
}
.upper{
    background-color: rgb(63, 148, 148);
    margin-bottom: 0vmax;
    padding: 40px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
.expense-input{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 35%;
    gap: 20px;   
    
}
.click{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 35%;
    gap: 20px;   
}
.container{
    margin: 0%;
    border-radius: 9%;
}
#expense-input{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.category-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: rgb(252, 236, 215);
    padding: 30px;
}
.category-nav button {
    padding: 10px;
    cursor: pointer;
    background: rgb(127, 146, 255);
    color: black;
    border: none;
    border-radius: 9px;
}
.category-nav button:hover {
    background: rgb(115, 108, 121);
}
h2{
    text-decoration: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #0D0C22;
    margin: 0px 0px 10px;
    font: 24px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#expense-section{
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    
}
.expense-item button {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.expense-item button:hover {
    background: #27ae60;
}
#summary-section {
    background: #ecf0f1;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px  solid;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 5px 0;
    border-radius: 5px;
   
}

.summary-item span {
    font-weight: bold;
    color: #555;
}


.summary-item button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.summary-item button:hover {
    background: #c0392b;
}

.total-summary {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
}

